{% load url from future %}
{% load staticfiles i18n %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" type="text/css" />
		<title>
			{% block title %}
				lololol
			{% endblock %}
		</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="span12">
				<header>
					<div class="page-header">
						<h1>Oberlin College Flaming Blades <small>{% block pagetitle %}{% endblock %}</small></h1>
					</div>
				</header>
				{% block bodycontent %}
					hey everyone!
				{% endblock %}
			</div>
		</div>
	</body>
</html>