{% load daguerre %}
{% load url from future %}
{% load staticfiles i18n %}


{% regroup events by category as categories_list %}
<ul class="events">
	<h2>{{ list }} Events</h2>
	{% for category in categories_list %}
	<li class="category">
		<h3>{{ category.grouper }}{{ category.list|length|pluralize }}</h3>
		<ul>
			{% for event in category.list %}
			<li>
				<h4>{{ event.date }} / {{ event.title }}</h4>
				{{ event.location }}</br>
				{% if event.preview_image %}
				<img src="{% adjust event.preview_image.image width=200 height=200 adjustment='fill' %}">
				{% endif %}
				{% if event.summary %}
				{{ event.summary }}</br>
				{% endif %}
				{% if event.media_gallery %}
					<div id="{{ event.slug }}Carousel" class="carousel slide">
						<!-- Carousel items -->
						<div class="carousel-inner">
							{% for photo in event.media_gallery.photos.all %}
								{% if forloop.first %}
									<div class="active item">
								{% else %}
									<div class="item">
								{% endif %}
								<img src="{% adjust photo.image.image width=200 height=200 adjustment='fill' %}">
								</div>
							{% endfor %}
						</div>
					</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#{{ event.slug }}Carousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#{{ event.slug }}Carousel" data-slide="next">&rsaquo;</a>
				<script>
				$('.carousel').carousel()
				</script>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>

